<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <title>Register</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>Create Account</h1>

        <p>Register New User</p>

        <form action="/register" method="post">

            <input
                    type="text"
                    name="name"
                    placeholder="Full Name">

            <input
                    type="email"
                    name="email"
                    placeholder="Email">

            <input
                    type="password"
                    name="password"
                    placeholder="Password">

            <button type="submit">

                Register

            </button>

        </form>

        <div class="footer">

            Already have account?

            <a href="/login">

                Login

            </a>

        </div>

    </div>

</div>

</body>

</html>